{
  "extends": "eslint:recommended",
  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 5
  },
  "globals": {},
  "rules": {
    "no-empty": 0,
    "no-cond-assign": 1,
    "semi": 2,
    "camelcase": 0,
    "comma-style": 2,
    "comma-dangle": [2, "never"],
    "indent": [
      "error",
      2,
      {
        "SwitchCase": 1
      }
    ],
    "no-mixed-spaces-and-tabs": [2, "smart-tabs"],
    "max-len": [
      "error",
      {
        "code": 200,
        "ignoreTrailingComments": true,
        "ignoreComments": true,
        "ignoreUrls": true
      }
    ],
    "no-else-return": 2,
    "radix": 2,
    "no-lonely-if": 2,
    "keyword-spacing": 2,
    "no-const-assign": 2,
    "no-useless-concat": 2,
    "object-curly-spacing": 2
  }
}