<title>@@title</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta http-equiv="Content-type" content="text/html;charset=UTF-8">
<meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
<!-- favicon -->
<link href="images/favicon.ico" type="image/x-icon" rel="icon">
<!-- meta social -->
<meta name="twitter:card" content="" />
<meta name="twitter:site" content="" />
<meta name="twitter:creator" content="" />
<meta property="og:description" content="" />
<meta property="og:image" content="" />
<meta property="og:site_name" content="">
<meta property="og:title" content="" />
<meta property="og:type" content="">
<meta property="og:url" content="" />
<!-- Google Font -->